.navbar-nav>li>a.profile-img {
	padding-top: 10px;
	padding-bottom: 10px;
}

.search-form {
	margin-bottom: 0;
}

.search-form .search-results {
	width: 86%;
	left: 15px;
}

.search-results > p {
	text-align: center;
	padding: 2% 0;
    margin-bottom: 0;
}

.dname {
	font-weight: bold;
}